{% extends "base.html" %}

{% block content %}
<h2>My Account</h2>

<table>
    <tr>
        <th>Username:</th>
        <td>{{ customer.user.username }}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{ customer.user.email }}</td>
    </tr>
    <tr>
        <th>Full Name:</th>
        <td>{{ customer.full_name }}</td>
    </tr>
    <tr>
        <th>Phone Number:</th>
        <td>{{ customer.phone_number }}</td>
    </tr>
</table>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" style="color: rgb(255, 254, 254);">Logout</button>
</form>
{% endblock %}
